# LaTeX intermediate and output files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# Temporary files
*.tmp
*.bak
*.swp
*.backup
*.dvi

# PDF output
main.pdf

# Directory for auxiliary files created by latexmk
latexmk/

*.run.xml
*.bcf
*.bib.original
venv

.ipynb_checkpoints
